:host {
  display: block;
  --card-padding: 16px;
  --min-weight: 120px;
  --min-height: 60px
}
.pu-card {
  position: relative;
  overflow: hidden;
  border-radius: $shape-corner-medium;
  padding: 16px;
  cursor: pointer;
  .card-title {
    font-size: 20px;
    @include display-text-small
  }
}
.pu-card--elevated {
  background: $color-surface-container-low;
  box-shadow: box-shadow(1);
}
.pu-card--filled {
  background: $color-surface-container-highest;
}
.pu-card--outlined {
  background: color-surface;
  color: $color-primary;
  border: $outline-width solid $color-outline;
}
.pu-card.disabled {
  opacity: 0.38;
  color: $neutral-variant90;
  cursor: not-allowed;
}