:host {
  display: block;
  --card-padding: 16px;
  --min-weight: 120px;
  --min-height: 60px
}
.pu-card {
  position: relative;
  overflow: hidden;
  border-radius: $shape-corner-medium;
  padding: 16px;
  cursor: pointer;
  &.disabled {
    opacity: 0.38;
    color: $color-on-surface;
    cursor: not-allowed;
    box-shadow: box-shadow(0);
  }
}
.pu-card--elevated {
  background: $color-surface-container-low;
  box-shadow: box-shadow(1);
  &:hover {
    box-shadow: box-shadow(2);
  }
  &.disabled {
    box-shadow: box-shadow(1);
  }
}
.pu-card--filled {
  background: $color-surface-container-highest;
  &:hover {
    box-shadow: box-shadow(1);
  }
}
.pu-card--outlined {
  background: color-surface;
  border: $outline-width solid $color-outline;
  &:hover {
    border: $outline-width solid $color-outline-variant;
    box-shadow: box-shadow(1);
  }
  &:focus {
    border: $outline-width solid $color-on-surface;
  }
}