:host {
  --icon-btn-size: 24px;
  --icon-btn-height: 40px;
  --icon-btn-width: 40px;
  --icon-btn-shape: 20px;
  --icon-line-height: 40px;
}

.pu-icon-button {
  position: relative;
  overflow: hidden;
  border: 0;
  width: var(--icon-btn-width);
  height: var(--icon-btn-height);
  border-radius: var(--icon-btn-shape);
  background: $color-primary;
  color: $color-on-primary;
  font-size: var(--icon-btn-size);
  line-height: var(--icon-btn-height);

  &:hover {
    background-color: rgba($color: $color-primary, $alpha: 0.08);
    color: $color-primary;
    cursor: pointer;
  }

  &:active {
    background-color: rgba($color: $color-primary, $alpha: 0.1);
    color: $color-on-primary;
  }

  &:disabled {
    background-color: rgba($color: $color-on-surface, $alpha: 0.12);
    color: rgba($color: $color-on-surface, $alpha: 0.38);
  }
}

.pu-icon-button--active {
  background-color: $color-surface-container-highest;
  color: $color-primary;

  &:active {
    background-color: rgba($color: $color-primary, $alpha: 0.1);
    color: $color-primary;
  }
}
