@mixin fab-active($background-color, $shadow-value: 0) {
  &:active {
    box-shadow: box-shadow($shadow-value);
    background: rgba($color: $background-color, $alpha: 0.1);
  }
}

@mixin fab($fab-size, $fab-shape, $fab-background, $fab-shadow-value: 0) {
    width: $fab-size;
    height: $fab-size;
    box-shadow: box-shadow($fab-shadow-value);
    border-radius: $fab-shape;
    background: $fab-background;

    @if $fab-background == $primary90 {
      color: $primary10;
    }
    @if $fab-size == 96px {
      font-size: 36px;
    } @else {
      font-size: 24px;
    }
    &:hover {
      box-shadow: box-shadow(4);
    }
}

.pu-fab {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 0;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  @include fab(56px, 16px, $primary90, 3);
}

.pu-fab--large {
  @include fab(96px, 16px, $primary90, 3);
}

.pu-fab--small {
  @include fab(40px, 12px, $primary90, 3)
}
