/**
  1. Colors
  2. Elevation
  3. Icons
  4. Motion
  5. Shape
  6. Typography
  7. Bottom app bar
  8. FAB
*/

:root {
  /* 1. Colors */
  --color-red-0: #005;
  --color-red-10: #005;
  --color-red-20: #005;
  --color-red-30: #005;
  --color-red-40: #005;
  --color-red-50: #005;
  --color-red-60: #005;
  --color-red-70: #005;
  --color-red-80: #005;
  --color-red-90: #005;
  --color-red-100: #005;

  --color-primary: #f9f9f9;
  --color-on-primary: #f9f9f9;
  --color-primary-container: #EADDFF;
  --color-on-primary-container: #21005D;

  --color-secondary: #f9f9f9;
  --color-on-secondary: #f9f9f9;
  --color-secondary-container: #f9f9f9;
  --color-on-secondary-container: #f9f9f9;

  --color-tertiary: #f9f9f9;
  --color-on-tertiary: #f9f9f9;
  --color-tertiary-container: #f9f9f9;
  --color-on-tertiary-container: #f9f9f9;

  --color-error: #f9f9f9;
  --color-on-error: #f9f9f9;
  --color-error-container: #f9f9f9;
  --color-on-error-container: #f9f9f9;

  --color-surface: #f9f9f9;
  --color-surface-tint: #6991D6;
  --color-on-surface: #f9f9f9;
  --color-surface-container: #F0F4F9;
  --color-on-surface-container: #f9f9f9;

  --color-outline: #f9f9f9;
  --color-on-outline: #f9f9f9;
  --color-outline-container: #f9f9f9;
  --color-on-outline-container: #f9f9f9;
  
  /* 2. Elevation */
  --elevation-0: 0 0 0 0 rgba(0, 0, 0, 0.2);
  --elevation-1: 0 2px 1px -1px rgba(0, 0, 0, 0.2);
  --elevation-2: 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  --elevation-3: 0 3px 3px -2px rgba(0, 0, 0, 0.2);
  --elevation-4: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  --elevation-5: 0 3px 5px -1px rgba(0, 0, 0, 0.2);

  /* 3. Icons */
  --icon-size-bg: #f9f9f9;

  --icon-size-sm: 18px;
  --icon-size-md: 24px;
  --icon-size-lg: 26px;
  --icon-size-xl: 32px;

  /* 4. Motion */
  --motion-duration-emphasized: 0.5s;
  --motion-duration-emphasized-declarate: 0.4s;
  --motion-duration-emphasized-accelerate: 0.2s;
  --motion-duration-standard: 0.3s;
  --motion-duration-standard-declarate: 0.25s;
  --motion-duration-standard-accelerate: 0.2s;

  /* 5. Shape */
  --shape-none: 0;
  --shape-xs: 4px;
  --shape-sm: 8px;
  --shape-md: 16px;
  --shape-lg: 24px;
  --shape-xl: 32px;
  --shape-xxl: 48px;

  /* 6. Typography */
  --display-lg: 96px;
  --display-md: 60px;
  --display-sm: 48px;

  --headline-lg: 32px;
  --headline-md: 24px;
  --headline-sm: 20px;

  --title-lg: 16px;
  --title-md: 14px;
  --title-sm: 12px;

  --body-lg: 16px;
  --body-md: 14px;
  --body-sm: 12px;

  --label-lg: 16px;
  --label-md: 14px;
  --label-sm: 12px;

  /* 7. Bottom app bar */
  --bottom-app-bar-color: var(--color-surface-container);
  --bottom-app-bar-shape: var(--shape-none);
  --bottom-app-bar-elevation: var(--elevation-2);
  --bottom-app-bar-surface-tint-layer-color: var(--color-surface);
  --bottom-app-bar-height: 56px;
  --bottom-app-bar-left-padding: 6px;
  --bottom-app-bar-right-padding: 16px;
  --bottom-app-bar-top-padding: 12px;
  --bottom-app-bar-bottom-padding: 12px;
  --bottom-app-bar-fab-height: 50px;

  /* 8. FAB */
  --fab-color: var(--color-primary-container);
  --fab-shape: var(--shape-lg);
  --fab-width: 56px;
  --fab-height: 56px;
  --fab-elevation: var(--elevation-3);
  --fab-shadow-color: #000000;
  --fab-lowered-container-elevation: var(--elevation-1);

}