// pu-lists.scss
:host {
  --list-shape: 0;
  --list-height: 56px;
  --leading-space: 16px;

  .pu-list {
    list-style: none;
    padding: 0;

    li {
      background-color: $color-surface;
      border-radius: var(--list-shape);
      width: 200px;
      // height: var(--list-height);
      box-shadow: box-shadow(0);
      color: $color-on-surface;
      @include label-text-large;
    }
    slot {
      flex: 1;
    }

    .headline {
      @include headline-text;
    }

    .support-text {
      color: $color-on-surface-variant;
      @include body-text;
    }

    .leading-icon {
      font-size: 24px;
      height: 56px;
      width: 100px;
    }

    .tracking {
      color: red !important;
    }
  }
}
