:host {
  --checkbox-shape: 2px;
  --checkbox-height: 18px;
  --checkbox-width: 18px;
}

.pu-checkbox {
  height: var(--checkbox-height);
  width: var(--checkbox-width);
  border-radius: var(--checkbox-shape);
  accent-color: $color-primary;
  outline-width: 2px;
  cursor: pointer;

  &.error {
    accent-color: $color-error;
    outline-color: $color-error;

    &:hover {
      accent-color: $color-error;
    }
  }

  &:hover {
    accent-color: rgba($color: $color-primary, $alpha: 0.08);
    border-color: $color-on-surface;
    color: $color-primary;
    cursor: pointer;
  }

  &:disabled {
    outline-color: rgba($color: $color-on-surface, $alpha: 0.38);
    accent-color: rgba($color: $color-on-surface, $alpha: 0.38);
    cursor: not-allowed;
  }
}
