:host {
  --checkbox-shape: 2px;
  --checkbox-height: 18px;
  --checkbox-width: 18px;
}

.pu-checkbox {
  position: relative;
  height: var(--checkbox-height);
  width: var(--checkbox-width);
  border-radius: var(--checkbox-shape);
  background-color: $color-primary;
  text-align: center;
  color: white;

  cursor: pointer;

  &:not(:has(pu-icon)) {
    border: 1px solid $color-on-surface-variant;
  }

  pu-icon {
    width: 100%;
    height: 100%;
    color: $color-on-primary;
  }

  &.checked {
    border: 0;
  }

  &.error {
    background-color: $color-error;
    border-color: $color-error;
    outline-color: $color-error;
    color: $color-on-error;

    pu-icon {
      color: $color-on-primary;
    }

    &:hover {
      background-color: $color-error;
    }
  }

  &:hover {
    background-color: $color-primary;
    border-color: $color-on-surface;
    color: $color-on-primary;
    cursor: pointer;
  }

  &:disabled {
    outline-color: rgba($color: $color-on-surface, $alpha: 0.38);
    accent-color: rgba($color: $color-on-surface, $alpha: 0.38);
    cursor: not-allowed;
  }
}

.pu-checkbox-input {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -3px;
  left: -4px;
  opacity: 0;
}
