$md_sys_elevation_level1: rgba($md_sys_color_shadow, 0.2) 0px 2px 1px -1px, rgba($md_sys_color_shadow, 0.14) 0px 1px 1px 0px, rgba($md_sys_color_shadow, 0.12) 0px 1px 3px 0px;
$md_sys_elevation_level2: rgba($md_sys_color_shadow, 0.2) 0px 3px 3px -2px, rgba($md_sys_color_shadow, 0.14) 0px 3px 4px 0px, rgba($md_sys_color_shadow, 0.12) 0px 1px 8px 0px;
$md_sys_elevation_level3: rgba($md_sys_color_shadow, 0.2) 0px 3px 5px -1px, rgba($md_sys_color_shadow, 0.14) 0px 6px 10px 0px, rgba($md_sys_color_shadow, 0.12) 0px 1px 18px 0px;
$md_sys_elevation_level4: rgba($md_sys_color_shadow, 0.2) 0px 5px 5px -3px, rgba($md_sys_color_shadow, 0.14) 0px 8px 10px 1px, rgba($md_sys_color_shadow, 0.12) 0px 3px 14px 2px;
$md_sys_elevation_level5: rgba($md_sys_color_shadow, 0.2) 0px 7px 8px -4px, rgba($md_sys_color_shadow, 0.14) 0px 12px 17px 2px, rgba($md_sys_color_shadow, 0.12) 0px 5px 22px 4px;

@function md_sys_elevation($level) {
  $md_sys_elevatio_leveln: (
    0: none,
    1: $md_sys_elevation_level1,
    2: $md_sys_elevation_level2,
    3: $md_sys_elevation_level3,
    4: $md_sys_elevation_level4,
    5: $md_sys_elevation_level5
  );
  
  @return map-get($md_sys_elevatio_leveln, $level);
}