$md_sys_color_primary: $md_ref_palette_primary40;
$md_sys_color_on-primary: $md_ref_palette_primary100;
$md_sys_color_primary-container: $md_ref_palette_primary90;
$md_sys_color_on-primary-container: $md_ref_palette_primary10;
$md_sys_color_primary-fixed: $md_ref_palette_primary90;
$md_sys_color_primary-fixed-dim: $md_ref_palette_primary80;
$md_sys_color_on-primary-fixed: $md_ref_palette_primary10;
$md_sys_color_on-primary-fixed-variant: $md_ref_palette_primary30;

$md_sys_color_secondary: $md_ref_palette_secondary40;
$md_sys_color_on-secondary: $md_ref_palette_secondary100;
$md_sys_color_secondary-container: $md_ref_palette_secondary90;
$md_sys_color_on-secondary-container: $md_ref_palette_secondary10;
$md_sys_color_secondary-fixed: $md_ref_palette_secondary90;
$md_sys_color_secondary-fixed-dim: $md_ref_palette_secondary80;
$md_sys_color_on-secondary-fixed: $md_ref_palette_secondary10;
$md_sys_color_on-secondary-fixed-variant: $md_ref_palette_secondary30;

$md_sys_color_tertiary: $md_ref_palette_tertiary40;
$md_sys_color_on-tertiary: $md_ref_palette_tertiary100;
$md_sys_color_tertiary-container: $md_ref_palette_tertiary90;
$md_sys_color_on-tertiary-container: $md_ref_palette_tertiary10;
$md_sys_color_tertiary-fixed: $md_ref_palette_tertiary90;
$md_sys_color_tertiary-fixed-dim: $md_ref_palette_tertiary80;
$md_sys_color_on-tertiary-fixed: $md_ref_palette_tertiary10;
$md_sys_color_on-tertiary-fixed-variant: $md_ref_palette_tertiary30;

$md_sys_color_error: $md_ref_palette_error40;
$md_sys_color_on_error: $md_ref_palette_error100;
$md_sys_color_error-container: $md_ref_palette_error90;
$md_sys_color_on_error-container: $md_ref_palette_error10;

$md_sys_color_surface_dim: $md_ref_palette_neutral87;
$md_sys_color_surface: $md_ref_palette_neutral98;
$md_sys_color_surface_bright: $md_ref_palette_neutral98;
$md_sys_color_surface-tint: $md_sys_color_primary;

$md_sys_color_surface-container: $md_ref_palette_neutral94;
$md_sys_color_surface-container-lowest: $md_ref_palette_neutral100;
$md_sys_color_surface-container-low: $md_ref_palette_neutral96;
$md_sys_color_surface-container-high: $md_ref_palette_neutral92;
$md_sys_color_surface-container-highest: $md_ref_palette_neutral90;

$md_sys_color_on_surface: $md_ref_palette_neutral10;
$md_sys_color_on_surface_variant: $md_ref_palette_neutral_variant30;
$md_sys_color_outline: $md_ref_palette_neutral_variant50;
$md_sys_color_outline_variant: $md_ref_palette_neutral_variant80;

$md_sys_color_inverse_surface: $md_ref_palette_neutral20;
$md_sys_color_inverse_on_surface: $md_ref_palette_neutral95;
$md_sys_color_inverse_primary: $md_ref_palette_primary80;

$md_sys_color_scrim: $md_ref_palette_neutral0;
$md_sys_color_shadow: $md_ref_palette_neutral0;

$md_sys_color_custom: $md_ref_palette_primary40;
$md_sys_color_on_custom: $md_ref_palette_primary100;
$md_sys_color_custom-container: $md_ref_palette_primary90;
$md_sys_color_on_custom-container: $md_ref_palette_primary10;

$outline_width: 1px;
$typeface_plain: 'Roboto', sans_serif;

$shape_corner_medium: 12px;

$md_sys_shape_corner_extra-small_top: 4px 4px 0 0;