:host {
  --chip-height: 32px;
  --chip-shape: 8px;
  --icon-btn-size: 18px;
  --icon-btn-margin-left: 8px;
  --icon-btn-margin-right: 8px;
  display: inline-flex;
  cursor: pointer;
}

.pu-chip .selected{
    border: $outline-width solid $color-outline;
    background-color: $color-secondary-container;
}

@mixin chip-hover($color, $shadow-value: 2) {
  &:not(.disabled):hover {
    box-shadow: box-shadow($shadow-value);
    color: $color;
    transition: all 0.2s ease-in-out;
  }
}

@mixin chip-focus($outline, $color, $shadow-value: 1) {
  &:focus {
    border: $outline-width solid $outline;
    color: $color;
  }
}

@mixin chip-dragged($shadow-value:4, $color) {
  &:not(.disabled):active {
    box-shadow: box-shadow($shadow-value);
    color: $color;
  }
}

.disabled {
    background: rgba($color: $color-on-surface, $alpha: 0.12);
    box-shadow: box-shadow(0);
    color: rgba($color: $color-on-surface, $alpha: 0.38);
  }

.pu-chip {
  height: var(--chip-height);
  border-radius: var(--chip-shape);
  background: $color-surface-container-low;
  box-shadow: box-shadow(1);
  padding-right: 16px;
  font-family: $typeface-plain;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;

  @include label-text-large;

  @include chip-hover($color-on-surface, 2);

  @include chip-focus($color-on-surface, 0);

  @include chip-dragged(4, $color-on-surface);
  
}

.pu-chip--filter {
  padding-right: 0;

  @include chip-hover($color-on-surface, 2);

  @include chip-focus($color-on-surface, 0);

  @include chip-dragged(4, $color-on-surface);
}

.pu-chip--input {
    padding-left: 16px;
    padding-right: 0;
    @include label-text-large;
    
    @include chip-hover($color-on-surface, 2);
    
    @include chip-focus($color-on-surface, 0);
    
    @include chip-dragged(4, $color-on-surface);
}

.pu-chip--suggestion {
  padding-left: 16px;
  padding-right: 16px;
  @include label-text-large;
  
  @include chip-hover($color-on-surface, 2);
  
  @include chip-focus($color-on-surface, 0);
  
  @include chip-dragged(4, $color-on-surface);
}