// pu-lists.scss

:host {
  --list-shape: 0;
  --list-height: 56px;
  --leading-space: 16px;
  --leading-avatar-size: 40px;
  --leading-image-size: 56px;

  .pu-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding-right: 15px;
      background-color: $color-surface;
      border-radius: var(--list-shape);
      width: 200px;
      box-shadow: box-shadow(0);
      color: $color-on-surface;
      @include label-text-large;

      .list-content {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .list-item-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .support-text {
      color: $color-on-surface-variant;
      @include body-text-small;
    }

    .leading-icon {
      font-size: 24px;
      border: 0;
    }

    .divider {
      height: 1px;
      margin: 0 16px;
      background-color: $color-outline;
    }

    .tracking {
      @include body-text;
    }

    .leading-avatar {
      background-color: $color-primary-container;
      width: var(--leading-avatar-size);
      height: var(--leading-avatar-size);
      border-radius: 50%;

      .leading-avatar-label {
        color: $color-on-primary-container;
        @include title-text;
      }
    }

    .leading-image {
      width: var(--leading-image-size);
      height: var(--leading-image-size);
      border-radius: 0;
    }
  }
}
