:host {
  --icon-size: 30px;
  display: flex;
  align-items: center;
}
.icon {
  position: absolute;
  font-size: var(--icon-size);
  cursor: pointer;
}
.icon.unchecked-icon {
  color: $color-on-surface-variant;
}
.icon.checked-icon {
  display: none;
  color: $color-primary;
  z-index: 9;
}
.radio-button-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radio-input {
  width: var(--icon-size);
  height: var(--icon-size);
  margin: 0;
  z-index: 99;
  opacity: 0;
  cursor: pointer;
  &:hover {
    ~.unchecked-icon {
      color: $color-on-surface;
    }
  }
  &:checked+.icon.checked-icon {
    display: block;
  }
  &:disabled {
    ~.icon {
      color: $color-on-surface;
      opacity: .38;
      pointer-events: none;
    }
  }
}