:host {
  --width: 20px;
  --height: 20px;
}
.radio-button {
  width: var(--width);
  height: var(--height);
  accent-color: $color-primary;
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    cursor: default;
  }
}